

.footer-container {
  display: flex;
  justify-content: space-around;
  font: #DDDDDD;
  font-size: 30px;
}

.userInput {
  text-align: center;
}
.page {
  background-color: #cbffcb;
}

#weatherResults{
display: flex;
flex-direction: column;
/* width: 80%; */
align-items: center;
align-content: center;
justify-content: space-between;
flex-wrap: wrap;
border-style: solid;
margin-left: 10%;
margin-right: 10%;
background: rgba(255,255,255, .8);
padding: 20px;
}
#forecastResults{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border-style: solid; */
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(255,255,255, .8);
}
